{% if not current_user.is_anonymous %}
    <li><a href="">Logged in as {{ current_user }}</a></li>
    <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
{% else %}
    <li><a href="{{ url_for('security.login') }}">Login</a></li>
{% endif %}